//  colors
$color-1: #b73333;
$color-2: #28445c;
$color-3: #d46b25;

//  typos
@mixin type-1($weight: 400, $size: 18) {
  font-family: 'Roboto', sans-serif;
  font-weight: $weight;
  @if $size == 18 {
    font-size: 1.15em;
  }
  @if $size == 60 {
    font-size: 2.35em;
  }
}

// breakpoints
$breakpoints: (
  'cel': 580px,
  'tab': 770px,
);
@mixin bp($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
