#links {
  background-color: $color-2;
  .special-link {
    text-align: center;
    @include type-1(400);
    color: white;
    border: 1px solid $color-1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 5px;
    @include bp(cel) {
      flex-direction: column;
    }
    img {
      margin: 10px;
    }
  }
}

#text-content {
  padding: 160px 0 70px;
  text-align: center;
  max-width: 725px;
  margin: 0 auto;
  @include bp('cel') {
    padding: 60px 10px 30px;
  }
  p {
    margin-bottom: 30px;
    line-height: 26px;
  }

  h2 {
    font-size: 30px;
    font-weight: 700;
    color: $color-1;
    @include bp('cel') {
      font-size: 21px;
    }
  }
}

#proteja-se {
  background: url('./assets/img/pontos.png') center;
  background-size: contain;
  width: 100%;
  p {
    display: block;
    background-color: $color-1;
    color: white;
    padding: 20px 30px;
    text-transform: uppercase;
    @include type-1(700, 60);
  }
}

#epis {
  padding: 30px 0;
  &-title {
    text-align: center;
    margin-bottom: 60px;
  }
  &-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    &-item {
      min-height: 240px;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;

      p {
        text-align: center;
        line-height: 17px;
      }
    }
  }
}

#recomendacoes {
  background-color: #f7f7f7;
  padding: 60px 0;
  @include bp('cel') {
    padding: 20px 0;
  }
  &-title {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    h2 {
      font-size: 40px;
      color: $color-2;
      margin-bottom: 60px;
      @include bp('cel') {
        font-size: 22px;
      }
      strong {
        color: $color-1;
      }
    }
  }
  #video-modal-thumb {
    padding: 20px 0;
    img {
      transition: all 0.35s ease;
      &:hover {
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.23);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.23);
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.23);
      }
    }
    @include bp('cel') {
      padding: 10px 0;
    }
    p {
      margin: 20px 0;
    }
  }
}

#faq {
  padding: 60px 0;
  @include bp('cel') {
    padding: 20px 0;
  }
  #accordion {
    margin-bottom: 60px;
    max-width: 940px;
    min-width: 940px;
    width: 100%;
    @include bp('tab') {
      min-width: 100%;
    }
    @include bp('cel') {
      padding: 0 10px;
    }
  }
  &-title {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;

    h2 {
      font-size: 40px;
      color: $color-2;
      margin-bottom: 60px;
      @include bp('cel') {
        font-size: 22px;
      }
    }
  }
  .btn-link {
    color: $color-2;
    width: 100%;
    text-align: left;
    @include bp('cel') {
      font-size: 12px;
    }
    &:after {
      content: '+';
      font-size: 25px;
      line-height: 1;
      width: 31px;
      height: 31px;
      color: $color-1;
      border: 2px solid $color-1;
      border-radius: 50%;
      position: absolute;
      right: 16px;
      top: -2px;
      margin: 10px;
      text-align: center;
      @include bp('cel') {
        font-size: 21px;
        line-height: 1;
        width: 25px;
        height: 25px;
        top: -4px;
      }
    }
    &:not(.collapsed) {
      &:after {
        content: '-';
      }
    }
  }

  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 2px solid $color-1;
    border-top: 1px solid $color-1;
    border-radius: 0;
    &:first-child {
      border-top: 2px solid $color-1;
    }
    &-header {
      padding: 0;
      background-color: white;
      border-bottom: 0px;
    }
    &-body {
      border-top: 2px solid #717171;
      max-width: 95%;
      line-height: 28px;
      font-size: 16px;
      margin: 0 auto;
      p {
        &:first-child {
          margin-bottom: 20px;
        }
      }
    }
  }
}
